<h1>All Buses</h1>
<ul>
  <% @buses.each do |bus| %>
  <li><a href="<%= bus_path(bus)%>"><%= bus.number %></a></li>
  <% end %>
</ul>

<%= link_to "New bus", new_bus_path, :class=> "btn btn-default" %>
